<%- include('../../components/head'); %>

  <body>
    <%- include('../../components/header'); %>
      <main>
        <%- include('../../components/pageheader-detail'); %>
        <%- include('../../components/detail-cards'); %>
        <%- include('../../partials/help-button.ejs'); %>
      </main>

      <%- include('../../components/footer') %>
  </body>

  </html>