<%- include('../../components/head'); %>

  <body>
    <%- include('../../components/header'); %>
      <main>
        <%- include('../../components/pageheader-detail.ejs'); %>
        <%- include('../../components/detail-scroll.ejs'); %>
        <%- include('../../components/detail-cards.ejs'); %>
        <%- include('../../partials/help-button.ejs'); %>
      </main>

      <%- include('../../components/footer') %>
  </body>

  </html>