<!-- Start of html + head + body tag -->
<%- include('../components/head'); %>
<!-- end of head & body tag -->

<%- include('../components/header'); %>

<main>
  <%- include('../components/pageheader.ejs') %>
  <%- include('../components/support-cards.ejs') %>
  <div class="margin-top-150"></div>
  <%- include('../components/agenda.ejs') %>
  <%- include('../paritals/help-button.ejs') %>
</main>

<!-- Start of footer -->
<%- include('../components/footer.ejs'); %>
<!-- end of footer & html tag -->
